<div class="container" style="margin-top: 30px">
  <div>
    <div class="row">
      <div class="col-sm-6">
        <h2><b>Completed tasks</b></h2>
      </div>
      <div class="col-sm-6">
        <button
          mat-raised-button
          style="background-color: rgb(63, 51, 192); color: rgb(179, 235, 182)"
          routerLink="/incomplete"
        >
          Incomplete tasks
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="todo_task_list.length == 0">
    <h2>No completed task!</h2>
  </div>
  <div class="row">
    <div
      class="card col-sm-2"
      style="
        margin: 10px;
        width: 18rem;
        height: 150px;
        border: -5px;
        border-color: aquamarine;
      "
      *ngFor="let task of todo_task_list"
    >
      <div class="card-body">
        <span style="float: right; font-size: 15px; margin-top: -10px">
          Completed</span
        >
        <h5 class="card-title" style="font-size: 30px; margin-top: 5px">
          {{ task.title }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 20px">
          {{ task.name }}
        </h6>
        <mat-icon
          style="
            float: right;
            margin-top: 30px;
            background-color: rgb(248, 17, 17);
            border-radius: 5px;
          "
          (click)="remove_todo(task.id)"
          >delete</mat-icon
        >
      </div>
    </div>
  </div>
</div>
