<div class="container">
  <h2><b>Your tasks</b></h2>
  <div class="card-border-light">
    <div class="card-body row">
      <div class="col-sm-2" style="margin-top: 5px">
        <button
          mat-raised-button
          routerLink="/completed"
          style="
            background-color: rgb(108, 96, 244);
            color: rgb(130, 234, 194);
            width: 120px;
            height: 40px;
            padding: 2px;
          "
        >
          Completed tasks
        </button>
      </div>
      <div class="col-sm-2" style="margin-top: 8px">
        <button
          mat-raised-button
          routerLink="/incomplete"
          style="
            background-color: rgb(108, 96, 244);
            color: rgb(130, 234, 194);
            width: 120px;
            height: 40px;
            padding: 2px;
            margin-top: -2.5px;
          "
        >
          Incomplete tasks
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="todo_task_list.length == 0">
    <h2>No tasks created.</h2>
  </div>
  <div class="row">
    <div
      class="card col-sm-2"
      style="
        margin: 10px;
        width: 18rem;
        height: 150px;
        border: -5px;
        border-color: aquamarine;
      "
      *ngFor="let task of todo_task_list"
    >
      <div class="card-body">
        <span style="float: right; font-size: 15px; margin-top: -30px">
          <input
            (click)="update_status(task.id)"
            *ngIf="task.status == false"
            type="checkbox"
            style="margin-right: 5px; border: 1px; width: 15px; height: 15px"
          />
          {{ task.status ? "Completed!" : "Incomplete" }}</span
        >
        <h5 class="card-title" style="font-size: 30px; margin-top: -20px">
          {{ task.title }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 20px">
          {{ task.name }}
        </h6>
        <mat-icon
          style="
            float: right;
            margin-top: 30px;
            background-color: rgb(248, 17, 17);
            border-radius: 5px;
          "
          (click)="remove_todo(task.id)"
          >delete</mat-icon
        >
        <mat-icon
          *ngIf="task.status == false"
          style="
            float: right;
            margin-top: 30px;
            margin-right: 10px;
            background-color: rgb(17, 248, 198);
            border-radius: 5px;
          "
          (click)="open_dialog(task.id)"
          >edit</mat-icon
        >
      </div>
    </div>
  </div>
</div>
