<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-sm-6">
      <h2><b>Incomplete tasks</b></h2>
    </div>
    <div class="col-sm-6">
      <button
        mat-raised-button
        routerLink="/completed"
        style="color: white; background-color: rgb(86, 86, 244)"
      >
        Completed tasks
      </button>
    </div>
  </div>
  <div *ngIf="todo_task_list.length == 0">
    <h2>All tasks are completed.</h2>
  </div>
  <div class="card" *ngFor="let task of todo_task_list; let i = index">
    <p class="card-body" style="color: white">
      <b>{{ i + 1 }}.</b>
      <span style="font-size: 18px"> {{ task.title }}</span
      ><br />{{ task.name }}
      <span
        style="
          float: right;
          font-size: 20px;
          color: rgb(255, 255, 255);
          margin-right: 10px;
        "
      >
        Incomplete
        <input
          (click)="update_status(task.id)"
          *ngIf="task.status == false"
          type="checkbox"
          style="
            margin-bottom: 10px;
            margin-right: 15px;
            border: 1px;
            width: 20px;
            height: 20px;
          "
        />
        <button
          mat-raised-button
          *ngIf="task.status == false"
          (click)="open_dialog(task.id)"
          style="
            background-color: rgb(47, 123, 170);
            color: rgb(146, 215, 210);
            margin-bottom: 40px;
          "
        >
          Edit
        </button>
        <button
          *ngIf="task.status == false"
          mat-raised-button
          (click)="remove_todo(task.id)"
          style="
            background-color: red;
            color: white;
            margin-bottom: 40px;
            margin-left: 10px;
          "
        >
          Delete
        </button></span
      >
    </p>
  </div>
</div>
