<div class="container" style="margin-top: 30px">
  <div>
    <div class="row">
      <div class="col-sm-6">
        <h2><b>Incomplete tasks</b></h2>
      </div>
      <div class="col-sm-6">
        <button
          mat-raised-button
          routerLink="/completed"
          style="color: white; background-color: rgb(86, 86, 244)"
        >
          Completed tasks
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="todo_task_list.length == 0">
    <h2>All tasks are completed.</h2>
  </div>
  <div class="row">
    <div
      class="card col-sm-2"
      style="
        margin: 10px;
        width: 30rem;
        height: 280px;
        border: -5px;
        border-color: aquamarine;
      "
      *ngFor="let task of todo_task_list"
    >
      <div class="card-body">
        <span style="float: right; font-size: 15px; margin-top: -10px">
          <input
            (click)="update_status(task.id)"
            *ngIf="task.status == false"
            type="checkbox"
            style="margin-right: 5px; border: 1px; width: 15px; height: -10px"
          />
          Incomplete</span
        >
        <h5 class="card-title" style="font-size: 30px; margin-top: 5px">
          {{ task.title }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: 20px">
          {{ task.name }}
        </h6>
        <mat-icon
          style="
            float: right;
            margin-top: 150px;
            background-color: rgb(248, 17, 17);
            border-radius: 5px;
          "
          (click)="remove_todo(task.id)"
          >delete</mat-icon
        >
        <mat-icon
          *ngIf="task.status == false"
          style="
            float: right;
            margin-top: 150px;
            margin-right: 10px;
            background-color: rgb(17, 248, 198);
            border-radius: 5px;
          "
          (click)="open_dialog(task.id)"
          >edit</mat-icon
        >
      </div>
    </div>
  </div>
</div>
