<div class="container">
  <h1><b>Today's tasks</b></h1>
  <form class="d-flex" role="search" (submit)="onSubmit()">
    <input
      style="border-radius: 30px; width: 50%; height: 50px"
      [(ngModel)]="task"
      name="task"
      class="form-control me-2"
      placeholder="What's your today's task?"
    />
    <button
      class="btn btn-info btn-lg"
      type="submit"
      style="background-color: black; color: white; border-radius: 30px"
    >
      Add task
    </button>
  </form>
</div>
<div class="container">
  <h2><b>Tasks to do</b></h2>
  <div class="card-border-light">
    <div class="card-body row">
      <div class="col-sm-2" style="margin-top: 5px">
        <button mat-raised-button (click)="completed_tasks()">
          Completed tasks
        </button>
      </div>
      <div class="col-sm-2" style="margin-top: 8px">
        <button mat-raised-button (click)="inCompleted_tasks()">
          Incompleted tasks
        </button>
      </div>
      <div class="col-sm-2" style="margin-top: 5px">
        <button mat-raised-button *ngIf="filter == true" (click)="ngOnInit()">
          All tasks
        </button>
      </div>
    </div>
  </div>

  <div class="card" *ngFor="let task of task_list; let i = index">
    <p class="card-body">
      <b>{{ i + 1 }}.</b>
      {{ task.name }}
      <span style="float: right">
        {{ task.status ? "Completed" : "Incomplete" }}
        <input
          (click)="status(task.id)"
          *ngIf="task.status == false"
          type="checkbox"
          style="margin-left: 5px; border: 1px; width: 15px; height: 15px"
        />
        <button
          mat-button
          *ngIf="task.status == false"
          (click)="openDialog(task.id)"
        >
          Edit</button
        ><button
          mat-button
          *ngIf="task.status == false"
          (click)="remove(task.id)"
        >
          Delete</button
        ><button
          mat-button
          *ngIf="task.status == true"
          (click)="remove(task.id)"
        >
          Remove
        </button></span
      >
    </p>
  </div>
</div>
