<nav class="navbar" style="height: 180px; background-color: aliceblue">
  <span class="navbar-brand mb-0 h1">
    <div
      class="container"
      style="margin-left: 580px; margin-top: -30px; font-size: 25px"
    >
      <b>To-do List</b>
    </div>
    <div class="container">
      <button
        mat-raised-button
        style="
          background-color: rgb(64, 64, 228);
          color: whitesmoke;
          margin-left: 580px;
          margin-top: 20px;
        "
        routerLink="/new-task"
      >
        Create Task
      </button>
    </div>
  </span>
</nav>
<router-outlet></router-outlet>
